<h1>All blogs</h1>

<%= link_to 'New Blogs', new_blog_path %>

<% @blogs.each do |blog| %>
<section class="blog">
  <p class="content">
    <strong><%= blog.user.name %></strong>
  </p>
  <hr>
  <% if blog.image && blog.image.url %>
  <%= image_tag blog.image.url(), class: "image" %>
  <% end %>

  <p><%= blog.blogs %></p>
  <br>
  <small><%= blog.created_at.strftime('%Y/%-m/%-d %-H:%-M') %></small>
  <br>
  <span class="button"><%= link_to 'Show', blog %></span>
  <span class="button"><%= link_to 'Edit', edit_blog_path(blog) %></span>
  <span class="button"><%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></span>
</section>
<% end %>
